[submodule "public/guide"]
	path = public/guide
	url = git@github.com:ntucpc/ntucpc-guide.git
[submodule "ntucpc-website-common-lib"]
	path = ntucpc-website-common-lib
	url = git@github.com:ntucpc/ntucpc-website-common-lib.git
